<!doctype html>
<html lang="pt_br" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/form}">
    <body>
        <th:block layout:fragment="hiddenFields">
            <input class="mdl-textfield__input" type="hidden" id="id" th:field="*{id}"/>
        </th:block>

        <th:block layout:fragment="form_title">
            <th:block th:text="#{base.transaction}" />&nbsp;-&nbsp;<th:block th:text="*{id}" />
        </th:block>

        <th:block layout:fragment="form_actions">
            <a th:href="@{/admin/account/transaction/cancel/{id}(id=${activeObject.id})}" th:if="${activeObject.id ne null}">
                <span class="mdl-button">
                    <i class="material-icons mdl-color-text--red">not_interested</i><th:block th:text="#{base.cancel}" />
                </span>
            </a>
            <a th:href="@{/admin/account/transaction/activate/{id}(id=${activeObject.id})}" th:if="${activeObject.id ne null}">
                <span class="mdl-button">
                    <i class="material-icons mdl-color-text--green">check</i><th:block th:text="#{base.activate}" />
                </span>
            </a>
        </th:block>

        <th:block layout:fragment="form_body">
            <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--6-col-tablet mdl-cell--6-col-desktop">
                <div class="mdl-grid mdl-grid--no-spacing">
                    <div class="mdl-cell mdl-cell--2-col-phone mdl-cell--3-col-tablet mdl-cell--6-col-desktop enterative-layout__text--align-center enterative-form__field-label">
                        <th:block th:text="#{base.createdby}" />
                    </div>                    
                    <div class="mdl-cell mdl-cell--2-col-phone mdl-cell--3-col-tablet mdl-cell--6-col-desktop enterative-layout__text--align-center enterative-form__field-label enterative-form__field-readonly">
                        <th:block th:text="${activeObject.createdBy.name}" th:if="${activeObject.createdBy}" />
                    </div>
                </div>
            </div>
            <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--6-col-tablet mdl-cell--6-col-desktop">
                <div class="mdl-grid mdl-grid--no-spacing">
                    <div class="mdl-cell mdl-cell--2-col-phone mdl-cell--3-col-tablet mdl-cell--6-col-desktop enterative-layout__text--align-center enterative-form__field-label">
                        <th:block th:text="#{base.createdat}" />
                    </div>                    
                    <div class="mdl-cell mdl-cell--2-col-phone mdl-cell--3-col-tablet mdl-cell--6-col-desktop enterative-layout__text--align-center enterative-form__field-label enterative-form__field-readonly">
                        <th:block th:text="${#dates.format(activeObject.createdAt, 'dd/MM/yyyy HH:mm')}" th:if="${activeObject.createdAt}" />
                    </div>
                </div>
            </div>
            <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--6-col-tablet mdl-cell--6-col-desktop">
                <div class="mdl-grid mdl-grid--no-spacing">
                    <div class="mdl-cell mdl-cell--2-col-phone mdl-cell--3-col-tablet mdl-cell--6-col-desktop enterative-layout__text--align-center enterative-form__field-label">
                        <th:block th:text="#{base.alteredby}" />
                    </div>                    
                    <div class="mdl-cell mdl-cell--2-col-phone mdl-cell--3-col-tablet mdl-cell--6-col-desktop enterative-layout__text--align-center enterative-form__field-label enterative-form__field-readonly">
                        <th:block th:text="${activeObject.alteredBy.name}" th:if="${activeObject.alteredBy}" />
                    </div>
                </div>
            </div>
            <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--6-col-tablet mdl-cell--6-col-desktop">
                <div class="mdl-grid mdl-grid--no-spacing">
                    <div class="mdl-cell mdl-cell--2-col-phone mdl-cell--3-col-tablet mdl-cell--6-col-desktop enterative-layout__text--align-center enterative-form__field-label">
                        <th:block th:text="#{base.alteredat}" />
                    </div>                    
                    <div class="mdl-cell mdl-cell--2-col-phone mdl-cell--3-col-tablet mdl-cell--6-col-desktop enterative-layout__text--align-center enterative-form__field-label enterative-form__field-readonly">
                        <th:block th:text="${#dates.format(activeObject.alteredAt, 'dd/MM/yyyy HH:mm')}" th:if="${activeObject.alteredAt}" />
                    </div>
                </div>
            </div>            
            <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--6-col-tablet mdl-cell--6-col-desktop">
                <div class="mdl-grid mdl-grid--no-spacing">
                    <div class="mdl-cell mdl-cell--2-col-phone mdl-cell--3-col-tablet mdl-cell--6-col-desktop enterative-layout__text--align-center enterative-form__field-label">
                        <th:block th:text="#{base.amount}" />
                    </div>                    
                    <div th:if="${saveActionPath eq null}" class="mdl-cell mdl-cell--2-col-phone mdl-cell--3-col-tablet mdl-cell--6-col-desktop enterative-layout__text--align-center enterative-form__field-label enterative-form__field-readonly">
                        <th:block th:text="${'R$ ' + #numbers.formatDecimal(activeObject.amount,0,'POINT',2,'COMMA')}" th:if="${activeObject.amount}" />
                    </div>
                    <div th:if="${saveActionPath ne null}" class="mdl-cell mdl-cell--2-col-phone mdl-cell--3-col-tablet mdl-cell--6-col-desktop enterative-layout__text--align-center"  sec:authorize="hasRole('ROLE_ADMIN')">
                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input enterative-inputmask__decimal" type="text" th:field="${activeObject.amount}" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--6-col-tablet mdl-cell--6-col-desktop">
                <div class="mdl-grid mdl-grid--no-spacing">
                    <div class="mdl-cell mdl-cell--2-col-phone mdl-cell--3-col-tablet mdl-cell--6-col-desktop enterative-layout__text--align-center enterative-form__field-label">
                        <th:block th:text="#{base.type}" />
                    </div>
                    <div th:if="${saveActionPath eq null}" class="mdl-cell mdl-cell--2-col-phone mdl-cell--3-col-tablet mdl-cell--6-col-desktop enterative-layout__text--align-center enterative-form__field-label enterative-form__field-readonly">
                        <th:block th:text="#{__${activeObject.type.description}__}" th:if="${activeObject.type}" />
                    </div>
                    <div th:if="${saveActionPath ne null}" class="mdl-cell mdl-cell--2-col-phone mdl-cell--6-col-tablet mdl-cell--6-col-desktop enterative-layout__text--align-center">
                        <div class="mdl-textfield mdl-js-textfield">
                            <select class="mdl-textfield__input" id="type" th:field="${activeObject.type}">
                                <option th:each="type : ${type_list}" th:value="${type}" th:text="#{__${type.description}__}"></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--6-col-tablet mdl-cell--6-col-desktop">
                <div class="mdl-grid mdl-grid--no-spacing">
                    <div class="mdl-cell mdl-cell--2-col-phone mdl-cell--3-col-tablet mdl-cell--6-col-desktop enterative-layout__text--align-center enterative-form__field-label">
                        <th:block th:text="#{base.status}" />
                    </div>                    
                    <div th:if="${saveActionPath eq null}" class="mdl-cell mdl-cell--2-col-phone mdl-cell--3-col-tablet mdl-cell--6-col-desktop enterative-layout__text--align-center enterative-form__field-label enterative-form__field-readonly">
                        <th:block th:text="#{__${activeObject.status.description}__}" th:if="${activeObject.status}" />
                    </div>
                    <div th:if="${saveActionPath ne null}" class="mdl-cell mdl-cell--2-col-phone mdl-cell--6-col-tablet mdl-cell--6-col-desktop enterative-layout__text--align-center">
                        <div class="mdl-textfield mdl-js-textfield">
                            <select class="mdl-textfield__input" id="status" th:field="${activeObject.status}">
                                <option th:each="status : ${status_list}" th:value="${status}" th:text="#{__${status.description}__}"></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--6-col-tablet mdl-cell--6-col-desktop">
                <div class="mdl-grid mdl-grid--no-spacing">
                    <div class="mdl-cell mdl-cell--2-col-phone mdl-cell--3-col-tablet mdl-cell--6-col-desktop enterative-layout__text--align-center enterative-form__field-label">
                        <th:block th:text="#{base.transactiondate}" />
                    </div>                    
                    <div class="mdl-cell mdl-cell--2-col-phone mdl-cell--3-col-tablet mdl-cell--6-col-desktop enterative-layout__text--align-center enterative-form__field-label enterative-form__field-readonly">
                        <th:block th:text="${#dates.format(activeObject.transactionDate, 'dd/MM/yyyy HH:mm')}" th:if="${activeObject.transactionDate}" />
                    </div>
                </div>
            </div>
            <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--6-col-tablet mdl-cell--6-col-desktop">
                <div class="mdl-grid mdl-grid--no-spacing">
                    <div class="mdl-cell mdl-cell--2-col-phone mdl-cell--3-col-tablet mdl-cell--6-col-desktop enterative-layout__text--align-center enterative-form__field-label">
                        <th:block th:text="#{base.saleorderline}" />
                    </div>                    
                    <div th:if="${saveActionPath eq null}" class="mdl-cell mdl-cell--2-col-phone mdl-cell--3-col-tablet mdl-cell--6-col-desktop enterative-layout__text--align-center enterative-form__field-label enterative-form__field-readonly">
                        <a th:href="@{/user/saleorder/edit/{id}(id=${activeObject.saleOrderNumber})}" th:if="${activeObject.saleOrderNumber}" target="_blank">
                            <th:block th:text="${activeObject.saleOrderLine.id}" th:if="${activeObject.saleOrderLine}" />
                        </a>
                    </div>
                    <div th:if="${saveActionPath ne null}" class="mdl-cell mdl-cell--2-col-phone mdl-cell--3-col-tablet mdl-cell--6-col-desktop enterative-layout__text--align-center enterative-form__field-label enterative-form__field-readonly">
                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" type="text" th:field="${activeObject.saleOrderLine.id}" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--6-col-tablet mdl-cell--6-col-desktop">
                <div class="mdl-grid mdl-grid--no-spacing">
                    <div class="mdl-cell mdl-cell--2-col-phone mdl-cell--3-col-tablet mdl-cell--6-col-desktop enterative-layout__text--align-center enterative-form__field-label">
                        <th:block th:text="#{base.purchaseorderline}" />
                    </div>
                    <div th:if="${saveActionPath eq null}" class="mdl-cell mdl-cell--2-col-phone mdl-cell--3-col-tablet mdl-cell--6-col-desktop enterative-layout__text--align-center enterative-form__field-label enterative-form__field-readonly">
                        <a th:href="@{/shop/purchaseorder/edit/{id}(id=${activeObject.purchaseOrderNumber})}" th:if="${activeObject.purchaseOrderNumber}" target="_blank">
                            <th:block th:text="${activeObject.purchaseOrderLine.id}" th:if="${activeObject.purchaseOrderLine}" />
                        </a>
                    </div>
                    <div th:if="${saveActionPath ne null}" class="mdl-cell mdl-cell--2-col-phone mdl-cell--3-col-tablet mdl-cell--6-col-desktop enterative-layout__text--align-center enterative-form__field-label enterative-form__field-readonly">
                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" type="text" th:field="${activeObject.purchaseOrderLine.id}" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--6-col-tablet mdl-cell--6-col-desktop">
                <div class="mdl-grid mdl-grid--no-spacing">
                    <div class="mdl-cell mdl-cell--2-col-phone mdl-cell--3-col-tablet mdl-cell--6-col-desktop enterative-layout__text--align-center enterative-form__field-label">
                        <th:block th:text="#{base.account}" />
                    </div>
                    <div th:if="${saveActionPath eq null}" class="mdl-cell mdl-cell--2-col-phone mdl-cell--3-col-tablet mdl-cell--6-col-desktop enterative-layout__text--align-center enterative-form__field-label enterative-form__field-readonly">
                        <th:block th:text="${activeObject.account.name}" th:if="${activeObject.account}" />
                    </div>
                    <div th:if="${saveActionPath ne null}" class="mdl-cell mdl-cell--2-col-phone mdl-cell--6-col-tablet mdl-cell--6-col-desktop enterative-layout__text--align-center">
                        <div class="mdl-textfield mdl-js-textfield">
                            <select class="mdl-textfield__input" id="account" th:field="${activeObject.account}">
                                <option th:each="account : ${account_list}" th:value="${account.id}" th:text="${account.name}"></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--6-col-tablet mdl-cell--6-col-desktop">
                <div class="mdl-grid mdl-grid--no-spacing">
                    <div class="mdl-cell mdl-cell--2-col-phone mdl-cell--3-col-tablet mdl-cell--6-col-desktop enterative-layout__text--align-center enterative-form__field-label">
                        <th:block th:text="#{base.category}" />
                    </div>                    
                    <div th:if="${saveActionPath eq null}" class="mdl-cell mdl-cell--2-col-phone mdl-cell--3-col-tablet mdl-cell--6-col-desktop enterative-layout__text--align-center enterative-form__field-label enterative-form__field-readonly">
                        <th:block th:text="#{__${activeObject.category.name}__}" th:if="${activeObject.category}" />
                    </div>
                    <div th:if="${saveActionPath ne null}" class="mdl-cell mdl-cell--2-col-phone mdl-cell--6-col-tablet mdl-cell--6-col-desktop enterative-layout__text--align-center">
                        <div class="mdl-textfield mdl-js-textfield">
                            <select class="mdl-textfield__input" id="category" th:field="${activeObject.category}">
                                <option th:each="category : ${category_list}" th:value="${category.id}" th:text="#{__${category.name}__}"></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </th:block>
    </body>
</html>
