<!doctype html>
<html lang="pt_br" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/list}">
    <body>
        <th:block layout:fragment="additionalHead">
        </th:block>

        <th:block layout:fragment="listHeader">
            <form th:action="@{/account/excerpt}" id="domFormSearch" method="post" th:object="${searchForm}">
                <div class="mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
                    <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--6-col-tablet mdl-cell--12-col-desktop enterative-layout__text--align-center enterative-form__title">
                        <b th:text="#{base.search}" />
                    </div>
                    <div th:if="${errorMessage}" class="mdl-cell mdl-cell--4-col-phone mdl-cell--6-col-tablet mdl-cell--12-col-desktop enterative-layout__text--align-center enterative-form__title">
                        <i class="material-icons mdl-color-text--red">error</i>&nbsp;<span th:text="${errorMessage}" />
                    </div>
                    <div sec:authorize="hasRole('ROLE_ADMIN')" class="mdl-cell mdl-cell--2-col-phone mdl-cell--2-col-tablet mdl-cell--6-col-desktop enterative-form__field-label enterative-layout__text--align-right">
                        <th:block th:text="#{base.account}" />
                    </div>
                    <div sec:authorize="hasRole('ROLE_ADMIN')" class="mdl-cell mdl-cell--2-col-phone mdl-cell--4-col-tablet mdl-cell--6-col-desktop">
                        <div class="mdl-textfield mdl-js-textfield">
                            <label class="mdl-textfield__label" for="tAccounts"><th:block th:text="#{base.accounts}" /></label>
                            <select class="mdl-textfield__input" id="tAccounts" th:field="*{account}">
                                <option value=""></option>
                                <option th:each="a : ${account_list}" th:value="${a.id}" th:text="${a.name}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="mdl-cell mdl-cell--2-col-phone mdl-cell--2-col-tablet mdl-cell--6-col-desktop enterative-form__field-label enterative-layout__text--align-right">
                        <th:block th:text="#{base.search.startdate}" />
                    </div>
                    <div class="mdl-cell mdl-cell--2-col-phone mdl-cell--4-col-tablet mdl-cell--6-col-desktop">
                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input enterative-inputmask__date" type="text" id="dataInicio" th:field="*{startDate}" />
                        </div>
                    </div>
                    <div class="mdl-cell mdl-cell--2-col-phone mdl-cell--2-col-tablet mdl-cell--6-col-desktop enterative-form__field-label enterative-layout__text--align-right">
                        <th:block th:text="#{base.search.enddate}" />
                    </div>
                    <div class="mdl-cell mdl-cell--2-col-phone mdl-cell--4-col-tablet mdl-cell--6-col-desktop">
                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input enterative-inputmask__date" type="text" id="dataFinal" th:field="*{endDate}" />
                        </div>
                    </div>
                    <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--6-col-tablet mdl-cell--12-col-desktop enterative-layout__text--align-center enterative-layout__divider-top">
                        <button type="submit" class="mdl-button">
                            <i class="material-icons">search</i><th:block th:text="#{base.search}" />
                        </button>
                        <button type="button" class="mdl-button mdl-cell--hide-phone mdl-cell--hide-tablet" onclick="goToReport()">
                            <i class="material-icons">file_download</i><th:block th:text="#{base.assemblereport}" />
                        </button>
                    </div>
                </div>
            </form>
        </th:block>

        <th:block layout:fragment="tableTitle">
            <th:block th:text="#{account.excerpt}" />
        </th:block>
        <th:block layout:fragment="tableEmpty">
            <th:block th:text="#{account.excerpt.empty_}" />
        </th:block>

        <th:block layout:fragment="tableBody_primary">
            <th:block th:if="${obj.saleOrderNumber ne null or obj.purchaseOrderNumber ne null or obj.category ne null}">
                <span>
                    <th:block th:if="${obj.transactionDate ne null}" th:text="${#dates.format(obj.transactionDate, 'dd/MM/yyyy HH:mm')}" />
                </span>
                <span class="mdl-list__item-text-body">
                    <th:block th:text="#{base.user}" />:&nbsp;<th:block th:text="${obj.createdBy.name}" />
                    &nbsp;-&nbsp;
                    <th:block th:text="#{base.account}" />:&nbsp;<th:block th:text="${obj.account.name}" />
                    <br />
                    <span th:if="${obj.saleOrderNumber ne null or obj.purchaseOrderNumber ne null}">
                        <th:block th:text="#{account.excerpt.ordernumber}" />:&nbsp;
                        <th:block th:text="${obj.saleOrderNumber}" th:if="${obj.saleOrderNumber ne null}" />
                        <th:block th:text="${obj.purchaseOrderNumber}" th:if="${obj.purchaseOrderNumber ne null}" />
                    </span>
                </span>
            </th:block>
            <th:block th:if="${obj.saleOrderNumber eq null and obj.purchaseOrderNumber eq null and obj.category eq null}">
                <span>
                    <th:block th:text="#{account.excerpt.previousbalance}" />
                </span>
                <span class="mdl-list__item-text-body">
                    <th:block th:text="#{base.account}" />:&nbsp;<th:block th:text="${obj.account.name}" />
                </span>
            </th:block>
        </th:block>
        <th:block layout:fragment="tableBody_secondary">
            <span class="mdl-list__item-secondary-content" th:classappend="${obj.type == T(br.com.chart.enterative.enums.ACCOUNT_TRANSACTION_TYPE).DEBIT} ? mdl-color-text--red : mdl-color-text--green">
                <th:block th:text="${'R$ ' + #numbers.formatDecimal(obj.amount,0,'POINT',2,'COMMA')}" />
            </span>
            <span class="mdl-list__item-secondary-content">
                <i id="iCanceled_" th:attrappend="id=${obj.id}" class="material-icons mdl-color-text--red mdl-list__item-secondary-action" th:if="${obj.status == T(br.com.chart.enterative.enums.ACCOUNT_TRANSACTION_STATUS).CANCELED}">error</i>
                <span class="mdl-tooltip mdl-tooltip--large" for="iCanceled_" th:attrappend="for=${obj.id}" th:text="#{base.canceled}" />

                <i id="iActive_" th:attrappend="id=${obj.id}" class="material-icons mdl-color-text--green mdl-list__item-secondary-action" th:if="${obj.status == T(br.com.chart.enterative.enums.ACCOUNT_TRANSACTION_STATUS).ACTIVE}">done</i>
                <span class="mdl-tooltip mdl-tooltip--large" for="iActive_" th:attrappend="for=${obj.id}" th:text="#{base.active}" />

                <i id="iPending_" th:attrappend="id=${obj.id}" class="material-icons mdl-color-text--amber mdl-list__item-secondary-action" th:if="${obj.status == T(br.com.chart.enterative.enums.ACCOUNT_TRANSACTION_STATUS).PENDING}">alarm</i>
                <span class="mdl-tooltip mdl-tooltip--large" for="iPending_" th:attrappend="for=${obj.id}" th:text="#{base.pending}" />
            </span>
        </th:block>
        <th:block layout:fragment="tableFooter">
            <th:block th:each="map_type : ${totals}">
                <li class="mdl-list__item">
                    <span class="mdl-list__item-primary-content">
                        <th:block th:text="#{__${map_type.key.description}__}" />&nbsp;-&nbsp;&Sigma;&nbsp;<th:block th:text="#{account.excerpt.partial}" />
                    </span>
                    <th:block th:each="map_status : ${map_type.value}">
                        <span class="mdl-list__item-secondary-content">
                            <i class="material-icons mdl-color-text--red" th:if="${map_status.key == T(br.com.chart.enterative.enums.ACCOUNT_TRANSACTION_STATUS).CANCELED}">monetization_on</i>
                            <i class="material-icons mdl-color-text--green" th:if="${map_status.key == T(br.com.chart.enterative.enums.ACCOUNT_TRANSACTION_STATUS).ACTIVE}">monetization_on</i>
                            <i class="material-icons mdl-color-text--amber" th:if="${map_status.key == T(br.com.chart.enterative.enums.ACCOUNT_TRANSACTION_STATUS).PENDING}">monetization_on</i>
                        </span>
                        <span class="mdl-list__item-secondary-content enterative-layout__text--align-right">
                            <span class="enterative-list__summary" th:text="${'R$ ' + #numbers.formatDecimal(map_status.value, 0, 'POINT', 2, 'COMMA')}" />
                        </span>
                    </th:block>                    
                </li>
            </th:block>
        </th:block>
    </body>
</html>
