<!doctype html>
<html lang="pt_br"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorate="~{layout/padrao}">
    <body>
        <div layout:fragment="conteudo">
            <input type="hidden" th:value="${ordernumber}" id="ordernumber" />

            <div class="mdl-grid mdl-grid--no-spacing">
                <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--12-col-desktop enterative-layout__text--align-center enterative-form__title">
                    <th:block th:text="#{base.success}" />
                </div>
                <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--12-col-desktop enterative-layout__text--align-center">
                    <th:block th:text="#{cart.success.1}" />
                </div>
                <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--12-col-desktop enterative-layout__text--align-center">
                    <th:block th:text="#{cart.success.2}" />
                </div>
                <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--6-col-tablet mdl-cell--12-col-desktop enterative-form__separator"></div>
                <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--6-col-tablet mdl-cell--12-col-desktop enterative-layout__text--align-center enterative-form__footer">
                    <a th:href="@{/}"><span class="mdl-button"><i class="material-icons mdl-color-text--blue">store</i><th:block th:text="#{base.home}" /></span></a>
                </div>
            </div>
        </div>
    </body>
</html>
