<!doctype html>
<html lang="pt_br" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/form}">
    <body>
        <th:block layout:fragment="hiddenFields">
            <input class="mdl-textfield__input" type="hidden" id="id" th:field="*{id}"/>
            <input class="mdl-textfield__input" type="hidden" th:field="*{param}" />
            <input class="mdl-textfield__input" type="hidden" th:field="*{name}" />
        </th:block>

        <th:block layout:fragment="form_title">
            <th:block th:text="#{base.parameter}" />&nbsp;-&nbsp;<th:block th:text="*{id}" />
        </th:block>

        <th:block layout:fragment="form_body">
            <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--6-col-tablet mdl-cell--6-col-desktop">
                <div class="mdl-grid mdl-grid--no-spacing">
                    <div class="mdl-cell mdl-cell--2-col-phone mdl-cell--3-col-tablet mdl-cell--6-col-desktop enterative-layout__text--align-center enterative-form__field-label">
                        <th:block th:text="#{base.name}" />
                    </div>                    
                    <div class="mdl-cell mdl-cell--2-col-phone mdl-cell--3-col-tablet mdl-cell--6-col-desktop enterative-layout__text--align-center enterative-form__field-label">
                        <th:block th:text="*{param.name}" />
                    </div>
                </div>
            </div>
            <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--6-col-tablet mdl-cell--6-col-desktop">
                <div class="mdl-grid mdl-grid--no-spacing">
                    <div class="mdl-cell mdl-cell--2-col-phone mdl-cell--3-col-tablet mdl-cell--6-col-desktop enterative-layout__text--align-center enterative-form__field-label">
                        <th:block th:text="#{base.description}" />
                    </div>                    
                    <div class="mdl-cell mdl-cell--2-col-phone mdl-cell--3-col-tablet mdl-cell--6-col-desktop enterative-layout__text--align-center enterative-form__field-label">
                        <th:block th:text="*{param.description}" />
                    </div>
                </div>
            </div>
            <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--6-col-tablet mdl-cell--6-col-desktop">
                <div class="mdl-grid mdl-grid--no-spacing">
                    <div class="mdl-cell mdl-cell--2-col-phone mdl-cell--3-col-tablet mdl-cell--6-col-desktop enterative-layout__text--align-center enterative-form__field-label">
                        <th:block th:text="#{base.value}" />
                    </div>                    
                    <div class="mdl-cell mdl-cell--2-col-phone mdl-cell--3-col-tablet mdl-cell--6-col-desktop enterative-layout__text--align-center">
                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" type="text" id="tValue" autofocus="autofocus" th:field="*{value}" />
                            <label class="mdl-textfield__label" for="tValue"><th:block th:text="#{base.value}" /></label>
                        </div>
                    </div>
                </div>
            </div>
        </th:block>
    </body>
</html>
