<!doctype html>
<html lang="pt_br" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/padrao}">
    <body>
        <th:block layout:fragment="additionalHead" />

        <th:block layout:fragment="conteudo">
            <div class="mdl-grid mdl-grid--no-spacing" th:if="${forgotPassword eq null}">
                <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--6-col-tablet mdl-cell--12-col-desktop enterative-layout__text--align-center enterative-form__title">
                    <th:block th:text="#{password.forgot}" />
                </div>
                <div th:if="${successful} or ${errorMessage}" class="mdl-cell mdl-cell--1-col-phone mdl-cell--1-col-tablet mdl-cell--1-col-desktop enterative-layout__text--align-center enterative-form__error">
                    <i class="material-icons mdl-color-text--green" th:if="${successful}">done</i>&nbsp;
                    <i class="material-icons mdl-color-text--red" th:if="${errorMessage}">error</i>&nbsp;
                </div>
                <div th:if="${successful} or ${errorMessage}" class="mdl-cell mdl-cell--3-col-phone mdl-cell--5-col-tablet mdl-cell--11-col-desktop enterative-layout__text--align-center enterative-form__error">
                    <th:block th:text="#{password.passwordchanged.1}" th:if="${successful}" />
                    <th:block th:utext="#{__${errorMessage}__}" th:if="${translated eq false and errorMessage ne null}" />
                    <th:block th:utext="${errorMessage}" th:if="${translated eq true and errorMessage ne null}" />
                </div>
                <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--6-col-tablet mdl-cell--12-col-desktop enterative-layout__text--align-center enterative-form__footer">
                    <a th:href="@{/}">
                        <span class="mdl-button"><i class="material-icons mdl-color-text--blue">home</i><th:block th:text="#{base.home}" /></span>
                    </a>
                </div>
            </div>
            <form th:action="@{/user/forgotpassword}" method="post" th:object="${forgotPassword}" th:if="${forgotPassword ne null}">
                <div class="mdl-grid mdl-grid--no-spacing">
                    <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--6-col-tablet mdl-cell--12-col-desktop enterative-layout__text--align-center enterative-form__title">
                        <th:block th:text="#{password.forgot}" />
                    </div>
                    <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--6-col-tablet mdl-cell--12-col-desktop enterative-layout__text--align-center enterative-newuser__welcome">
                        <th:block th:text="#{password.forgot.1}" /><br /><th:block th:text="#{password.forgot.2}" />
                    </div>
                    <div th:if="${successful} or ${errorMessage}" class="mdl-cell mdl-cell--1-col-phone mdl-cell--1-col-tablet mdl-cell--1-col-desktop enterative-layout__text--align-center enterative-form__error">
                        <i class="material-icons mdl-color-text--green" th:if="${successful}">done</i>&nbsp;
                        <i class="material-icons mdl-color-text--red" th:if="${errorMessage}">error</i>&nbsp;
                    </div>
                    <div th:if="${successful} or ${errorMessage}" class="mdl-cell mdl-cell--3-col-phone mdl-cell--5-col-tablet mdl-cell--11-col-desktop enterative-layout__text--align-center enterative-form__error">
                        <th:block th:text="#{password.emailsent}" th:if="${successful}" />
                        <th:block th:utext="#{__${errorMessage}__}" th:if="${translated eq false}" />
                        <th:block th:utext="${errorMessage}" th:if="${translated eq true}" />
                    </div>
                    <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--6-col-tablet mdl-cell--12-col-desktop">
                        <div class="mdl-grid mdl-grid--no-spacing">
                            <div class="mdl-cell mdl-cell--2-col-phone mdl-cell--3-col-tablet mdl-cell--6-col-desktop enterative-layout__text--align-right enterative-form__field-label">
                                <th:block th:text="#{password.login}" />
                            </div>                    
                            <div class="mdl-cell mdl-cell--2-col-phone mdl-cell--3-col-tablet mdl-cell--6-col-desktop">
                                <div class="mdl-textfield mdl-js-textfield">
                                    <input class="mdl-textfield__input" type="text" id="tLogin" th:field="${forgotPassword.login}" />
                                    <label class="mdl-textfield__label" for="tLogin"><th:block th:text="#{password.login}" /></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--6-col-tablet mdl-cell--12-col-desktop">
                        <div class="mdl-grid mdl-grid--no-spacing">
                            <div class="mdl-cell mdl-cell--2-col-phone mdl-cell--3-col-tablet mdl-cell--6-col-desktop enterative-layout__text--align-right enterative-form__field-label">
                                <th:block th:text="#{password.email}" />
                            </div>                    
                            <div class="mdl-cell mdl-cell--2-col-phone mdl-cell--3-col-tablet mdl-cell--6-col-desktop">
                                <div class="mdl-textfield mdl-js-textfield">
                                    <input class="mdl-textfield__input" type="text" id="tEmail" th:field="${forgotPassword.email}" />
                                    <label class="mdl-textfield__label" for="tEmail"><th:block th:text="#{password.email}" /></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--6-col-tablet mdl-cell--12-col-desktop enterative-layout__text--align-center enterative-form__footer">
                        <button type="submit" class="mdl-button"><i class="material-icons mdl-color-text--green">save</i><th:block th:text="#{base.submit}" /></button>
                        <a th:href="@{/}">
                            <span class="mdl-button"><i class="material-icons mdl-color-text--red">clear</i><th:block th:text="#{base.cancel}" /></span>
                        </a>
                    </div>
                </div>                
            </form>
        </th:block>
    </body>
</html>