<!doctype html>
<html lang="pt_br" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/padrao}">
    <body>
        <th:block layout:fragment="additionalHead" />

        <th:block layout:fragment="conteudo">
            <form th:action="@{/user/password}" method="post" th:object="${userPassword}">
                <div class="mdl-grid mdl-grid--no-spacing">
                    <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--6-col-tablet mdl-cell--12-col-desktop enterative-layout__text--align-center enterative-form__title">
                        <th:block th:text="#{password.change}" />
                    </div>

                    <div th:if="${successful} or ${errorMessage}" class="mdl-cell mdl-cell--1-col-phone mdl-cell--1-col-tablet mdl-cell--1-col-desktop enterative-layout__text--align-center enterative-form__error">
                        <i class="material-icons mdl-color-text--green" th:if="${successful}">done</i>&nbsp;
                        <i class="material-icons mdl-color-text--red" th:if="${errorMessage}">error</i>&nbsp;
                    </div>
                    <div th:if="${successful} or ${errorMessage}" class="mdl-cell mdl-cell--3-col-phone mdl-cell--5-col-tablet mdl-cell--11-col-desktop enterative-layout__text--align-center enterative-form__error">
                        <th:block th:text="#{password.successfulchange_}" th:if="${successful}" />
                        <th:block th:text="${errorMessage}" th:if="${errorMessage}" />
                    </div>
                    <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--6-col-tablet mdl-cell--12-col-desktop">
                        <div class="mdl-grid mdl-grid--no-spacing">
                            <div class="mdl-cell mdl-cell--2-col-phone mdl-cell--3-col-tablet mdl-cell--6-col-desktop enterative-layout__text--align-right enterative-form__field-label">
                                <th:block th:text="#{password.old}" />
                            </div>                    
                            <div class="mdl-cell mdl-cell--2-col-phone mdl-cell--3-col-tablet mdl-cell--6-col-desktop">
                                <div class="mdl-textfield mdl-js-textfield">
                                    <input class="mdl-textfield__input" type="password" id="tOldPassword" th:field="${userPassword.oldPassword}" />
                                    <label class="mdl-textfield__label" for="tOldPassword"><th:block th:text="#{password.old}" /></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--6-col-tablet mdl-cell--12-col-desktop">
                        <div class="mdl-grid mdl-grid--no-spacing">
                            <div class="mdl-cell mdl-cell--2-col-phone mdl-cell--3-col-tablet mdl-cell--6-col-desktop enterative-layout__text--align-right enterative-form__field-label">
                                <th:block th:text="#{password.new}" />
                            </div>                    
                            <div class="mdl-cell mdl-cell--2-col-phone mdl-cell--3-col-tablet mdl-cell--6-col-desktop">
                                <div class="mdl-textfield mdl-js-textfield">
                                    <input class="mdl-textfield__input" type="password" id="tOldPassword" th:field="${userPassword.newPassword}" />
                                    <label class="mdl-textfield__label" for="tNewPassword"><th:block th:text="#{password.new}" /></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--6-col-tablet mdl-cell--12-col-desktop">
                        <div class="mdl-grid mdl-grid--no-spacing">
                            <div class="mdl-cell mdl-cell--2-col-phone mdl-cell--3-col-tablet mdl-cell--6-col-desktop enterative-layout__text--align-right enterative-form__field-label">
                                <th:block th:text="#{password.confirm}" />
                            </div>                    
                            <div class="mdl-cell mdl-cell--2-col-phone mdl-cell--3-col-tablet mdl-cell--6-col-desktop">
                                <div class="mdl-textfield mdl-js-textfield">
                                    <input class="mdl-textfield__input" type="password" id="tConfirmNewPassword" th:field="${userPassword.confirmNewPassword}" />
                                    <label class="mdl-textfield__label" for="tConfirmNewPassword"><th:block th:text="#{password.confirm}" /></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--6-col-tablet mdl-cell--12-col-desktop enterative-layout__text--align-center enterative-form__footer">
                        <button type="submit" class="mdl-button"><i class="material-icons mdl-color-text--green">save</i><th:block th:text="#{base.submit}" /></button>
                        <a th:href="@{/}">
                            <span class="mdl-button"><i class="material-icons mdl-color-text--red">clear</i><th:block th:text="#{base.cancel}" /></span>
                        </a>
                    </div>
                </div>                
            </form>
        </th:block>
    </body>
</html>