<!doctype html>
<html lang="pt_br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
    </head>
    <body>
        <div th:fragment="footer">
            <footer>
                <th:block layout:fragment="additional_footer" />

                <div class="mdl-mega-footer">
                    <div class="mdl-mega-footer__middle-section enterative-layout__text--align-center">
                        <i class="material-icons enterative-material-icons">copyright</i>&nbsp;2017 - Enterative Serviços Digitais
                    </div>
                </div>
            </footer>
        </div>
    </body>
</html>