<!doctype html>
<html lang="pt_br" xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:fragment="head">
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="description" content="Enterative, Gift Cards e Conteúdos"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0"/>
        <title><th:block th:text="#{header.title}" /></title>

        <!-- Add to homescreen for Chrome on Android -->
        <meta name="mobile-web-app-capable" content="yes"/>

        <!-- Add to homescreen for Safari on iOS -->
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
        <meta name="apple-mobile-web-app-title" content="Material Design Lite"/>

        <!-- Tile icon for Win8 (144x144 + tile color) -->
        <meta name="msapplication-TileColor" content="#3372DF"/>

        <link rel="shortcut icon" th:href="@{/layout/images/favicon.png}"/>

        <link rel="stylesheet" th:href="@{/layout/css/roboto.css}"/>
        <link rel="stylesheet" th:href="@{/layout/css/materialicons.css}"/>

        <link rel="stylesheet" th:href="@{/layout/libs/material.min.css}"/>
        <script th:src="@{/layout/libs/material.min.js}"></script>
        <script th:src="@{/layout/libs/jquery-3.2.1.js}"></script>

        <link rel="stylesheet" th:href="@{/layout/libs/jquery-ui.min.css}" />
        <script th:src="@{/layout/libs/jquery-ui.min.js}"></script>

        <script th:src="@{/layout/js/jqueryinputmask/jquery.inputmask.bundle.js}"></script>
        <script th:src="@{/layout/js/jqueryinputmask/inputmask/bindings/inputmask.binding.js}"></script>

        <link rel="stylesheet" th:href="@{/layout/libs/countryselect/css/countrySelect.css}" />
        <script th:src="@{/layout/libs/countryselect/js/countrySelect.js}"></script>

        <link rel="stylesheet" th:href="@{/layout/css/enterative.css}" />
        <link rel="stylesheet" th:href="@{/layout/css/enterative___.css}" />
        <link rel="stylesheet" th:href="@{/layout/css/pagination.css}" />

        <script th:src="@{/layout/js/crud.js}"></script>
        <script th:src="@{/layout/js/pagination.js}"></script>
    </head>
    <body>
    </body>
</html>