<!doctype html>
<html lang="pt_br" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/form}">
    <body>
        <th:block layout:fragment="hiddenFields">
            <input class="mdl-textfield__input" type="hidden" id="id" th:field="*{id}" />
        </th:block>

        <th:block layout:fragment="form_title">
            <th:block th:text="#{base.resource}" />&nbsp;-&nbsp;<th:block th:text="*{id}" />
        </th:block>

        <th:block layout:fragment="form_body">
            <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--6-col-tablet mdl-cell--6-col-desktop">
                <div class="mdl-grid mdl-grid--no-spacing">
                    <div class="mdl-cell mdl-cell--2-col-phone mdl-cell--3-col-tablet mdl-cell--6-col-desktop enterative-layout__text--align-center enterative-form__field-label">
                        <th:block th:text="#{base.name}" />
                    </div>                    
                    <div class="mdl-cell mdl-cell--2-col-phone mdl-cell--3-col-tablet mdl-cell--6-col-desktop enterative-layout__text--align-center">
                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" type="text" id="tName" autofocus="autofocus" th:field="*{name}" />
                            <label class="mdl-textfield__label" for="tName"><th:block th:text="#{base.name}" /></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--6-col-tablet mdl-cell--6-col-desktop">
                <div class="mdl-grid mdl-grid--no-spacing">
                    <div class="mdl-cell mdl-cell--2-col-phone mdl-cell--3-col-tablet mdl-cell--6-col-desktop enterative-layout__text--align-center enterative-form__field-label">
                        <th:block th:text="#{base.url}" />
                    </div>                    
                    <div class="mdl-cell mdl-cell--2-col-phone mdl-cell--3-col-tablet mdl-cell--6-col-desktop enterative-layout__text--align-center">
                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" type="text" id="tURL" autofocus="autofocus" th:field="*{url}" />
                            <label class="mdl-textfield__label" for="tURL"><th:block th:text="#{base.url}" /></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--6-col-tablet mdl-cell--6-col-desktop">
                <div class="mdl-grid mdl-grid--no-spacing">
                    <div class="mdl-cell mdl-cell--2-col-phone mdl-cell--3-col-tablet mdl-cell--6-col-desktop enterative-layout__text--align-center enterative-form__field-label">
                        <th:block th:text="#{base.server}" />
                    </div>                    
                    <div class="mdl-cell mdl-cell--2-col-phone mdl-cell--3-col-tablet mdl-cell--6-col-desktop enterative-layout__text--align-center">
                        <div class="mdl-textfield mdl-js-textfield">
                            <label class="mdl-textfield__label" for="server"><th:block th:text="#{base.server}" /></label>
                            <select class="mdl-textfield__input" id="server" th:field="*{server}">
                                <option value=""></option>
                                <option th:each="server : ${server_list}" th:value="${server.id}" th:text="${server.name}"></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--6-col-tablet mdl-cell--6-col-desktop">
                <div class="mdl-grid mdl-grid--no-spacing">
                    <div class="mdl-cell mdl-cell--2-col-phone mdl-cell--3-col-tablet mdl-cell--6-col-desktop enterative-layout__text--align-center enterative-form__field-label">
                        <th:block th:text="#{base.type}" />
                    </div>                    
                    <div class="mdl-cell mdl-cell--2-col-phone mdl-cell--3-col-tablet mdl-cell--6-col-desktop enterative-layout__text--align-center">
                        <div class="mdl-textfield mdl-js-textfield">
                            <label class="mdl-textfield__label" for="type"><th:block th:text="#{base.type}" /></label>
                            <select class="mdl-textfield__input" id="type" th:field="*{type}">
                                <option value=""></option>
                                <option th:each="type : ${type_list}" th:value="${type}" th:text="#{__${type.description}__}"></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </th:block>
    </body>
</html>
