<!doctype html>
<html lang="pt_br" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/padrao}">
    <body>
        <th:block layout:fragment="additionalHead">
            <script th:src="@{/layout/js/menu.js}"></script>
        </th:block>
        
        <th:block layout:fragment="conteudo">
            <form th:action="@{/admin/activationaudit}" id="domFormSearch" method="post" th:object="${searchForm}">
                <div class="mdl-grid mdl-grid--no-spacing enterative-layout-grid--no-spacing mdl-shadow--2dp mdl-color--white">
                    <div class="mdl-cell mdl-cell--1-col-phone mdl-cell--1-col-tablet mdl-cell--1-col-desktop enterative-layout__text--align-center enterative-form__title-search">
                        <a href="#" id="search_form" onclick="toggleSubMenu(this.id);">
                            <i class="material-icons" id="search_form_icon">keyboard_arrow_down</i>
                        </a>
                    </div>
                    <div class="mdl-cell mdl-cell--2-col-phone mdl-cell--6-col-tablet mdl-cell--10-col-desktop enterative-layout__text--align-center enterative-form__title-search">
                        <b th:text="#{base.audit}" />
                    </div>
                    <div class="mdl-cell mdl-cell--1-col-phone mdl-cell--1-col-tablet mdl-cell--1-col-desktop enterative-layout__text--align-center enterative-form__title-search">
                    </div>
                    <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--12-col-desktop" id="search_form_submenu">
                        <div class="mdl-grid mdl-grid--no-spacing enterative-layout-grid--no-spacing">
                            <div class="mdl-cell mdl-cell--2-col-phone mdl-cell--4-col-tablet mdl-cell--6-col-desktop enterative-form__field-label enterative-layout__text--align-right">
                                <th:block th:text="#{base.file}" />
                            </div>
                            <div class="mdl-cell mdl-cell--2-col-phone mdl-cell--4-col-tablet mdl-cell--6-col-desktop">
                                <div class="mdl-textfield mdl-js-textfield">
                                    <label class="mdl-textfield__label" for="tFile"><th:block th:text="#{base.file}" /></label>
                                    <select class="mdl-textfield__input" id="tFile" th:field="*{file}">
                                        <option value=""></option>
                                        <option th:each="f : ${file_list}" th:value="${f.id}" th:text="#{__${f.name}__}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--6-col-tablet mdl-cell--12-col-desktop enterative-layout__text--align-center enterative-layout__divider-top">
                                <button type="submit" class="mdl-button">
                                    <i class="material-icons">search</i><th:block th:text="#{base.search}" />
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            
        </th:block>
    </body>
</html>