<!doctype html>
<html lang="pt_br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/padrao}">
    <body>
        <div layout:fragment="conteudo">
            <div class="mdl-grid">
                <div class="mdl-grid mdl-cell--12-col">
                    <div class="mdl-cell mdl-cell--4-col mdl-cell--6-col-tablet mdl-cell--10-col-desktop mdl-cell--1-offset-tablet mdl-cell--1-offset-desktop">					
                        <h2 class="produto__detalhe_nome">Acesso Negado!</h2>
                        <br></br>
                        <p>
                            Caso tenha já tenha feito seu login, entre em contato com o administrador.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>