<!doctype html>
<html lang="pt_br" 
      xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorate="~{layout/padrao}">
    <body>
        <div layout:fragment="conteudo">
            <div class="mdl-grid">
                <div class="mdl-grid mdl-cell--12-col">
                    <div class="mdl-cell mdl-cell--4-col mdl-cell--6-col-tablet mdl-cell--10-col-desktop mdl-cell--1-offset-tablet mdl-cell--1-offset-desktop">
                        <p><b>TERMOS DE USO E POLÍTICA DE PRIVACIDADE</b></p>

                        <p><b>TERMOS E CONDIÇÕES DE USO</b></p>
                        <p>
                            Bem vindo ao Enterative, um aplicativo mobile que torna possível a comercialização e ativação dos melhores conteúdos digitais, nas modalidades Online (Voucher) e Cartão Físico.

                            Este acordo representa o contrato, como um todo, entre você e a Enterative Ltda, e dessa forma, visitando, fazendo o download do nosso aplicativo, você concorda, sem restrições, em aceitar os termos e condições de uso abaixo indicados, uma vez que as disposições constantes do presente Termo de Uso vinculam o usuário do aplicativo móvel Enterative, externam nossa política de privacidade na divulgação de seu conteúdo e protege o software e a marca, de acordo com as disposições das Leis Federais n. 9.609/98 e 9.279/96.
                        </p>
                        <p>
                            1.  Aceite dos termos
                        </p>
                        <p>
                            Pelo cadastramento, o Usuário ou Estabelecimento, independente de utilizar ou não o serviço, aceita, sem limitação ou qualificação, as previsões da presente Política de Privacidade e Termos de Uso, obrigando-se perante estas condições.

                            Ainda, pelo cadastramento, o Usuário ou Estabelecimento declara ser juridicamente capaz ou estar legalmente representado para aderir e se vincular à presente Política de Privacidade e Termos de Uso. Caso esteja agindo em nome de uma pessoa jurídica, declara ter legitimidade, bem como, poderes suficientes para aderir e vincular tal pessoa jurídica à presente Política de Privacidade e Termos de Uso.

                            O cadastro como Usuário e/ou Estabelecimento não deve ser efetuado por qualquer pessoa que não esteja de acordo com o disposto nesta Política de Privacidade e Termos de Uso. Caso o Usuário e/ou o Estabelecimento não concorde com as alterações, deverá cancelar sua conta e cessar toda e qualquer utilização do Aplicativo.

                            A Enterative Ltda pode modificar ou atualizar esta Política de Privacidade e Termos de Uso a qualquer momento e sem aviso prévio, portanto, revise-a periodicamente. A simples utilização do aplicativo após qualquer atualização/modificação desta Política de Privacidade e Termos de Uso constitui aceitação e concordância com a versão mais recente.

                            Caso não concorde com Todos os termos, não use este site e não faça download do nosso aplicativo. 
                        </p>
                        <p>
                            2. Termos de Uso
                        </p>
                        <p>
                            2.1. Cadastro
                        </p>
                        <p>
                            Os Usuários ou Estabelecimentos que desejam utilizar o Aplicativo precisam obrigatoriamente preencher os campos de cadastro e fornecer informações verdadeiras, válidas e corretas. Alguns dados poderão ser confirmados pela equipe da Enterative Ltda, especialmente a legitimidade/capacidade de representação do responsável pelo cadastro dos Estabelecimentos.
                        </p>
                        <p>
                            2.2. Objeto
                        </p>
                        <p>
                            O Enterative consiste em uma plataforma para iOS e Android um aplicativo mobile que torna possível a comercialização e ativação dos melhores conteúdos digitais, nas modalidades Online (Voucher) e Cartão Físico, bem como o pagamento das compras realizadas, através de meio eletrônico ou físico, conforme a disponibilidade anunciada na tela do próprio aplicativo.
                        </p>
                        <p>
                            2.3. Limitações de Responsabilidade
                        </p>
                        <p>
                            O Enterative não se responsabiliza pelo conteúdo publicado pelos Estabelecimentos e/ou Usuários e se coloca no direito que excluir ou limitar a publicação de qualquer material que, entre outras situações: (a) não corresponda com o objetivo do aplicativo; (b) contenha dados e/ou informações inverídicas; (c) possua conteúdo protegido por registro; (d) possua qualquer conteúdo ilícito; (e) promova qualquer tipo de preconceito ou discriminação; (f) afronte a moral ou os bons costumes.
                        </p>
                        <p>
                            2.4. Propriedade Intelectual
                        </p>
                        <p>
                            As marcas, nomes, logotipos, nomes de domínio e demais sinais distintivos, bem como todo e qualquer conteúdo, desenho, arte ou layout publicado no Aplicativo, são de propriedade exclusiva da CHART CONSULTORES EM INFORMÁTICA LTDA, empresa desenvolvedora da plataforma e/ou suas controladas/coligadas, embora não possua responsabilidade sobre as informações captadas e arquivadas pela Enterative Ltda, que atenderá política de segurança da informação própria da empresa que disponibiliza o aplicativo aos seus clientes.

                            Nada contido no Aplicativo deve ser interpretado como concessão, por inferência, ou caducidade, ou qualquer outra forma, de licença ou direito de uso de qualquer marca comercial exibida.

                            São vedados quaisquer atos ou contribuições tendentes à modificação das características, ampliação, alteração, mesclagem ou incorporação em quaisquer outros programas ou sistemas.

                            Enfim, toda e qualquer forma de reprodução, total ou parcial, permanente, temporária ou provisória, de forma gratuita ou onerosa, sob quaisquer modalidades, formas ou títulos dos Aplicativos, sem a prévia e expressa autorização da CHART CONSULTORES EM INFORMÁTICA LTDA, é totalmente vedada.
                        </p>
                        <p>
                            3. Política de Privacidade
                        </p>
                        <p>
                            3.1. Apresentação
                        </p>
                        <p>
                            Esta política descreve os tipos de informações que a Enterative Ltda coleta de seus Usuários e Estabelecimentos e como elas são utilizadas. Ao utilizar o Enterative você concorda com a utilização de suas informações pessoais e entende que o objetivo do aplicativo é oferecer uma plataforma de interação de Usuários e Estabelecimentos com objetivos de e-commerce, estas estarão disponíveis para visualização e divulgação por meio de sua rede e outros canais.

                            A Enterative Ltda pode coletar, gravar e utilizar, unilateralmente ou em conexão com outros aplicativos, sites e parceiros quaisquer informações do Usuário e/ou Estabelecimento, incluindo, mas não se limitando a, nome, fotos, endereço, número de telefone, interesses, atividades, gênero informado e idade.
                        </p>
                        <p>
                            3.2. Usuário 
                        </p>
                        <p>
                            Para efetuar o cadastro no Aplicativo, é necessário o preenchimento de nome completo, username, e-mail, senha e localidade. Alguns desses dados estarão disponíveis para os outros usuários de sua rede, como nome, username e localidade, sendo os demais dados de uso exclusivo do usuário e do Enterative.

                            Ao efetuar o registro no Enterative, o Usuário pode comprar e ativar dos melhores conteúdos digitais, nas modalidades Online (Voucher) e Cartão Físico desde que em nenhuma dessas atividades e nas demais possíveis no Aplicativo, haja desobediência à esta Política de Privacidade e Termos e Condições de Uso, ou, ainda, à legislação vigente no País. Nesses casos, a Enterative Ltda se reserva no direito de moderação ou veto do conteúdo impróprio, armazenando as informações necessárias para quaisquer procedimentos judiciais que possam vir a ocorrer.
                        </p>
                        <p>
                            3.3. Estabelecimentos
                        </p>
                        <p>
                            Os estabelecimentos podem ser cadastrados ou de domínio público. Aos de domínio público, a Enterative Ltda se reserva no direito de fazer a gestão e moderação de todo o conteúdo, podendo vetar aqueles que se mostrem impróprios. Ao identificar um estabelecimento de domínio público como sendo próprio, o responsável pelo estabelecimento solicitará à equipe da Enterative Ltda a propriedade e gestão do perfil do estabelecimento, sendo este liberado quando da comprovação da propriedade.

                            Para o cadastramento do Estabelecimento, serão necessários o nome, endereço, telefone, faixa de preço, categoria, sub-categoria, entre outros dados. Esses dados estarão disponíveis para facilitar a busca do Usuário pelo Estabelecimento, bem como classificá-los em rankings por categoria.

                            A Enterative Ltda se reserva no direito de vetar ou moderar qualquer conteúdo que esteja em desacordo com a legislação vigente no País ou com a presente Política de Privacidade e Termos de Uso.
                        </p>
                        <p>
                            3.4. Utilização das informações
                        </p>
                        <p>
                            A Enterative Ltda se resguarda no direito de gravar seu IP, tipo de navegador, aparelho e operadora de celular, posição geográfica e outros dados.

                            Além de alguns dos usos específicos de informações descritos nesta Política de Privacidade e Termos de Uso, podemos usar as informações que recebemos para, entre outras finalidades: (a) ajudá-lo a acessar de forma eficiente suas informações para que você não tenha que digitá-las novamente durante sua visita ou a próxima vez que você visitar o Enterative; (b) fornecer conteúdo personalizado e informações para você e outras pessoas, que podem incluir anúncios on-line, envio de mensagens ou outras formas de comercialização; (c) fornecer, melhorar, testar e monitorar a eficácia do nosso serviço; (d) desenvolver e testar novos produtos e recursos; (e) monitorar métricas como o número total de visitantes, interações, tráfego e padrões demográficos; (f) diagnosticar ou corrigir problemas de tecnologia; (g) atualizar automaticamente o aplicativo Enterative no seu dispositivo.
                        </p>
                        <p>
                            3.5. Compartilhamento das Informações de Usuários e Estabelecimentos
                        </p>
                        <p>
                            O Enterative não divulga publicamente nem a terceiros suas informações de modo que possam identificá-lo, mas pode fazê-lo de forma agregada no intuito de realizar análises, estudos, ações comerciais, melhorias do sistema e por força de ordem judicial.

                            Em caso de venda ou transferência de parte ou da totalidade da Enterative Ltda ou de seus ativos para outra organização (por exemplo, no curso de uma operação como uma fusão, aquisição, falência, dissolução, liquidação), as informações como nome, endereço, e-mail, username e quaisquer outros conteúdos coletados através deste serviço podem estar entre os itens vendidos ou transferidos. Os Usuários e Estabelecimentos continuarão a possuir seu conteúdo. O comprador ou cessionário terá de honrar os compromissos que assumimos na presente Política de Privacidade e Termos de Uso.
                        </p>
                        <p>
                            4. Sanções e Foro
                        </p>
                        <p>
                            O uso do Enterative de forma indevida em desacordo a esta Política de Privacidade e Termos de Uso implicará a exclusão do cadastro do Usuário e/ou Estabelecimento e a proibição da utilização dos serviços. Seus dados serão preservados para uso das autoridades competentes, caso a Enterative Ltda seja notificado ou acionado pela violação de direitos de terceiros decorrente do mau uso do sistema.

                            O Usuário e/ou Estabelecimento se obrigam em indenizar a Enterative Ltda, suas filiais, empresas controladas ou controladoras, diretores, administradores, colaboradores, representantes e empregados por qualquer perda, danos, responsabilização, reclamação ou demanda, por quaisquer prejuízos devido a, ou resultantes da, sua utilização do Aplicativo.

                            Fica eleito o foro Central da Comarca de Belo Horizonte/MG, como competente para dirimir quaisquer dúvidas oriundas da presente Política de Privacidade e Termos de Uso, com exclusão de qualquer outro, por mais privilegiado que seja.

                            Ao finalizar o cadastro declaro ter lido, compreendido e concordado integral e expressamente com a presente Política de Privacidade e Termos de Uso.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
