

.mdl-layout__drawer-button {
    margin: 0px !important;
}

.enterative-section__header {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 200px;
}

.enterative-section__more-button {
    position: absolute;
    z-index: 99;
    top: 8px;
    right: 8px;
}

.enterative-layout__overflow--hidden {
    overflow: hidden;
}

.enterative-layout__text--align-right {                                    
    text-align: right !important;    
}

.enterative-layout__modal-body {
    padding: 15px;
}

.enterative-layout__modal-footer {
    padding: 15px;
    text-align: center;
    border-top: 1px solid #e7e7e7;
}

.enterative-layout__modal--center {
    display: none;
    text-align: center;
    margin: 0 auto;
}

enterative-layout-center {
    text-align: center; 
    display: table;
    margin: 0 auto;
}

.mdl-button > .material-icons {
    width: 30px;
}

.enterative-mdl-button {
    line-height: normal !important;
    height: auto;
}

.material-icons {
    vertical-align: middle;
}

.mdl-navigation__link > .material-icons, .mdl-card__title-text > .material-icons {
    margin-right: 10px;
}

.enterative-login__card {
    max-width: 500px;
}

.enterative-login__card-actions > * {
    margin-top: 10px;
    max-width: 400px;
}

.enterative-card__title, 
.enterative-error__card > .mdl-card__title, 
.enterative-login__card > .mdl-card__title {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.enterative-card__subtitle {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.enterative-card__subtitle-text {
    font-size: 20px !important;
}

.enterative-card__supporting-text {
    font-size: 16px;
}

.enterative-card__supporting-text-report {
    margin: 20px 40px !important;
}

.enterative-card__supporting-text-marginless {
    margin: 0px !important;
    width: 100% !important;
}

.enterative-cell__bold {
    font-weight: bold !important;
}

.enterative-card__order-supporting-text {
    margin: 10px !important;
    width: calc(100% - 20px) !important;
}

.enterative-text__ellipsis {
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    display: inline-block !important;
}

@media (max-width: 767px) {
    .enterative-card__list-item {
        padding: 5px 5px !important;
        min-height: 30px !important;
    }
}

.enterative-card__list-item {
    padding: 5px 16px !important;
    min-height: 30px !important;
}

.enterative-card__gc-image {
    width: 100%;
    max-width: 160px;    
    height: auto;
    max-height: 235px;
}

.enterative-navigation__subheader_row {
    padding-top: 5px;
    padding-left: 10px;    
    border-bottom: white solid 1px;
    height: 35px;
}

.enterative-spinner {
    margin-top: 5px;
    margin-bottom: 5px;
}

.enterative-balance__card {
    max-width: 200px;
}

.enterative-layout-list__item-image {
    height: 100%;
}

.enterative-layout-crudform__subtitle {
    font-size: 16px;
    font-weight: bold;
    min-height: 30px !important;
}

.enterative-layout-crudform__grid {
    font-size: 16px;
    min-height: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12) !important;
    border-right: 1px solid rgba(0, 0, 0, 0.12) !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.enterative-form__title-search {
    font-size: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12) !important;
    border-top: 1px solid rgba(0, 0, 0, 0.12) !important;
    background-color: white;
    padding: 10px 0px !important;
}

.enterative-layout-crudform__container {
    background-color: white !important;
}


.enterative-layout-crudform__line-action {
    padding: 20px 0px !important;
}

.enterative-layout-crudform__value {    
    height: 35px;
}

.enterative-layout-crudform__field {
    background-color: white;
}

.enterative-layout-crudform__giftcard-image {        
    margin-top: 15px;
    width: 100%;
}

.enterative-layout-crudform__avatar {
    background-color: transparent !important;
    color: black !important;
}

.enterative-layout-middle {
    vertical-align: middle !important;
}

.enterative-layout-center--img-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.enterative-layout-left--text {
    text-align: left !important;
}

.enterative-layout-grid--no-spacing {
    padding: 0px !important;
}

.enterative-layout-grid--no-spacing > .mdl-cell:not(.enterative-form__field-label) {    
    padding: 0px 10px;
}

.mdl-textfield {
    padding-right: 5px;
}

.mdl-textfield__input,
.mdl-date-textfield__input {
    border: 1px solid rgba(0, 0, 0, 0.25) !important;
}

#lineNewItem {
    display: none;
}

